button{
    width: 120px;
}

*{
    box-sizing: border-box;
  }

  .row-1{
    display: flex;
    padding: 0px 4px;
    flex-wrap: wrap;
  
  }

  .card-1{
    flex-basis: 25%;
    max-width: 40%;
    padding: 0px 4px;
    margin-top: 8px;
    }

    .visible{
      display: block;
    }

    .invisible{
      display: none;
    }

    

    @media only screen and (max-width: 800px){
        .card-1{
          max-width: 50%;
        }
        h1{
          font-size: 50%;
        }
      }
    
      @media only screen and (max-width: 600px){
        .card-1{
          max-width: 100%;
        }
      }